## Ignore everything
/*
/*/

## But not these files...
!.gitignore
!docker-compose.yml
!renovate.json
!README.md
!Dockerfile

## Include this folder and all of its content:
!/R

## Ignore this folders content:
/R/*

## But not these files...
!/R/*.R
!/R/data
/R/data/*
!/R/data/titanic.csv
!/R/out
/R/out/*
!/R/.env

## Make sure these are also NOT included:
.Rproj.user
.Rhistory
.Rdata